.row
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2.margin-top0 How GitLab Enables GitOps
    %ul
      %li
        %strong Environment as code
        stored in GitLab version control as a single source of truth. 
      %li
        %strong Teams collaborate
        using GitLab's agile planning and code review. 
      %li
        %strong The same tool
        used to plan, version, and deploy your application code works for your operations code as well. 
      %li
        %strong  CI/CD for infrastructure automation
        reconciles your environments with your SSoT in version control. 
%hr.divider
